
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .body {
    background-color: #1f2937;
}


/* Centering each and every container */
/* Header */
.header {
    display: flex;
    justify-content: space-around;
    padding: 24px 0px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a, .content, .button1 {
    color: #e5e7eb;
    font-size: 18px;

}

a {
    text-decoration: none;
    
}

/*  
.body, .container, .image {
    border: 2px solid aliceblue;
}
*/


/* BODY */
.body {
    min-height: 400px;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.body .image {
    height: 200px;
    width: 500px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6d747d;
    border: none;
    color: white;
}

.body .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
    width: 470px;
    gap: 6px;
    padding: 125px 0px;
}

.head {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.button1 {
    background-color: #3882f6;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 6px 24px;
}


/* Any Random Information */

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.details .head {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 24px;
}

.details .image {
    width: 150px;
    height: 150px;
    border: 4px solid #5193fc;
    border-radius: 8px;
}

.details .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    width: 900px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

/* Testimonial */



.testimonial {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 950px;
}

.testimonial .container .text{
    font-size: 36px;
    font-style: italic;
    color: #394b62;
}

#author {
    align-self: flex-end;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}


